@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


:root {
  --background-color: #f7f4e8;
  --primary-color: #daf3ea;
  --font-color: #0b0b0d;
  --details-color: #85e6c0;
  --details-darker-color: #6bb39b;
}

:root.dark {
  --background-color: #002200;
  --primary-color: #2f6525;
  --font-color: #f5f5f5;
  --details-color: #3e7b31;
  --details-darker-color: #2d6a4f;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;

}

.container {
  margin: 200px;
  background-color: var(--primary-color);
  width: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.count {
  margin-top: 40px;
  display: flex;
  gap: 80px;
  font-size: 25px;
  text-align: center;
  position: relative;
}

.input-date {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.date-to {
  font-size: 20px;
  font-family:"Montserrat", sans-serif;
  text-align: center;
  background-color: var(--details-color);
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.date-to::-webkit-calendar-picker-indicator {
  display: none;
}

.input-count {
  position: relative;
}
  
.input-count::after {
  content: ':';
  position: absolute;
  right: -50px;
  top: -3px;
  font-size: 50px;
}

.input-count:last-child::after{
  content: "";
}

.input-number {
  font-family: "Orbitron",sans-serif;
  transition: all 0.3s ease
}

